// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import 'node_modules/element-ui/packages/theme-chalk/src/index';
// Variables
// @import 'variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-label input:checked + svg {
    display: block !important;
}

// vue fade transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
